@mixin text-font($ff, $fw) {
  font-family: $ff;
  font-weight: $fw;
}

@mixin text-style($fs, $lh, $ls, $color) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $color;
}

@mixin btn($width, $height, $bg) {
  width: $width;
  height: $height;
  background: $bg;
}